MONGODB_CONNECTION_STRING=mongodb://mongo:27017/eventdb

JWT_SECRET=8f3a9c2d91b7e4f6a0c5d8e2f9a1b3c7
FRONTEND_URL=http://localhost:3000

EMAIL_USER=add_email_here
EMAIL_PASS=add_email_App_password_here
